@{
  Layout = "_Layout";
}

<h2>Find Out Your Word Score</h2>
<form action="/score" method="post">
  <label for="word">Enter Your Word:</label>
  <input type="text" name="word">
  <button type="submit" name="button">Submit Word</button>
</form>
